<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form handling</title>
</head>
<body>
    <form action="/postdata" method="post">
        <input type="text" name="name" id="name" placeholder="Enter name">
        <input type="email" name="email" id="email" placeholder="Enter email">
        <input type="password" name="password" id="password">
        <input type="submit">
    </form>
     <!-- <form action="/data" >
        <input type="text" name="name" id="name" placeholder="Enter name">
        <input type="email" name="email" id="email" placeholder="Enter email">
        <input type="submit">
    </form> -->
</body>
</html>